<app-page-wrapper>
  <div class="wrapper wrapper-content animated fadeInRight" style="height: 100%">
    <div class="row" style="height: 100%">
      <div class="col-lg-12" style="height: 100%">
        <div class="ibox chat-view" style="height: 100%">
          <div class="ibox-title" >
            <strong>Messages</strong>
          </div>

          <div class="ibox-content">
            <div class="row">
              <div class="col-md-9 ">
                <div class="chat-discussion">

                  <div *ngFor="let currentMessage of currentMessages; index as i">
                    <div *ngIf="currentMessage.message != '' ">
                      <div *ngIf="currentMessage.sender != this.activeUser.id" class="chat-message right">
                        <div class="message">
                          <a class="message-author" href="#"> {{this.otherUser.username}} </a>
                          <span class="message-date">{{currentMessage.sentDate}}</span>
                          <span class="message-content">
                          {{currentMessage.message}}
                          </span>
                        </div>
                      </div>
                      <div *ngIf="currentMessage.sender == this.activeUser.id" class="chat-message left">
                        <div class="message">
                          <a class="message-author" href="#"> You </a>
                          <span class="message-date">{{currentMessage.sentDate}}</span>
                          <span class="message-content">
                          {{currentMessage.message}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-md-3">
                <div class="chat-users">
                  <div class="users-list">

                  <!--Char user list-->
                    <div *ngFor="let contact of contacts; index as i">
                        <div (click)="onContactClick(i)" class="chat-user">
                          <div class="chat-user-name">
                            <a>{{contact.username.toUpperCase()}}</a>
                          </div>
                        </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="chat-message-form" >
                  <div [formGroup]="form" (keydown.enter)="onMessageSubmit()" class="form-group">
                    <textarea formControlName = "message" class="form-control message-input" name="message" placeholder="Enter message text" required id = "message"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-page-wrapper>
