<nav class="navbar-static-side">
  <ul class="nav">
    <li class="nav-header">
      <div>
        <a>
          <strong>Oldies Apahida</strong>
        </a>
      </div>
    </li>
    <li>
      <a (click)="redirectToOrders()"><i class="fa fa"></i> <span class="nav-label">  Orders</span></a>
    </li>
    <li>
      <a (click)="redirectToProducts()"><i class="fab fa"></i> <span class="nav-label">  Products</span></a>
    </li>
    <li>
      <a (click)="redirectToUsers()"><i class="fab fa"></i> <span class="nav-label">  Users List</span></a>
    </li>
    <li>
      <a (click)="redirectToAddOrder()"><i class="fab fa-add"></i> <span class="nav-label">  Add Order</span></a>
    </li>
    <li>
      <a (click)="redirectToAddProduct()"><i class="fab fa-add"></i> <span class="nav-label">  Add Product</span></a>
    </li>
    <li>
      <a (click)="redirectToAddUser()"><i class="fab fa-add"></i> <span class="nav-label">  Add User</span></a>
    </li>

  </ul>
</nav>
