<nav class="navbar-static-side">
  <ul class="nav">
    <li class="nav-header">
      <div>
        <a (click)="onClickUsername(this.userName)">
          <strong>{{this.userName.toUpperCase()}}</strong>
        </a>
      </div>
    </li>
    <li>
      <a (click)="navigateToLikedItems()"><i class="fa fa-thumbs-up"></i> <span class="nav-label">  Liked items</span></a>
    </li>
    <li>
      <a (click)="navigateToMessages()"><i class="fab fa-stack-exchange"></i> <span class="nav-label">  Messages</span></a>
    </li>
    <li>
      <a><i class="fa fa-dollar-sign"></i> <span class="nav-label">  Offers</span></a>
    </li>
    <li>
      <p></p>
      <a style="color: seagreen">
        Your collections
      </a></li>
    <li *ngFor="let category of categories; index as i">
      <a (click)="redirectToCatergory(category)" style="color: white"><i class="fa fa-add"></i> {{category}}</a>
    </li>
  </ul>
</nav>
