<app-page-wrapper>
  <div class="row">
      <div *ngFor="let item of items; index as i" class="col-md-3">
        <div class="ibox">
          <div class="ibox-content product-box">
            <div (click)="onClickItem(item.id)" class="product-imitation">
              {{item.name}}
            </div>
            <div class="product-desc">
              <span (click)="unlike(i)" *ngIf = "isLikedItem(i)" class="product-price" style="background-color: darkred">Unlike</span>
              <span (click)="like(i)" *ngIf = "!isLikedItem(i)" class="product-price">Like</span>
              <a routerLink="" class="product-name">
                {{item.description}}</a>
              <div class="small">
                {{item.tags.toString()}}
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</app-page-wrapper>
