<app-page-wrapper>
  <div>
    <h2>Product List</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Supply</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td contenteditable="false" >{{product.id}}</td>
          <td contenteditable="true" >{{product.name}}</td>
          <td contenteditable="true">{{product.price}}</td>
          <td contenteditable="true">{{product.supply}}</td>
          <td><button (click)="saveProduct(product,i)">UpdateProduct</button></td>
          <td><button (click)="deleteProduct(product.id)">DeleteProduct</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</app-page-wrapper>