@import "src/styles.css";
.full-width {
  width: 100% !important;
}
.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}
.loginscreen.middle-box {
  width: 300px;
}
