<app-page-wrapper>
  <div class="row">
      <div *ngFor="let item of collection.items; index as i" class="col-md-3">
        <div class="ibox">
          <div class="ibox-content product-box">
            <div (click)="onClickItem(item.id)" class="product-imitation">
              {{item.name}}
            </div>
          <div class="product-desc">
            <div *ngIf="isOwnedByCurrentUser()">
              <i (click)="onDeleteClick(item)" style="color: #2f4050" class="fa fa-trash"></i>
              </div>
              <span (click)="unlike(i)" *ngIf = "isLikedItem(i)" class="product-price" style="background-color: darkred">Unlike</span>
              <span (click)="like(i)" *ngIf = "!isLikedItem(i)" class="product-price">Like</span>
              <a routerLink="" class="product-name">
                {{item.description}}</a>
              <div class="small">
                {{item.tags.toString()}}
              </div>
            </div>
          </div>
        </div>
      </div>
    <div *ngIf = "collection.items == []">
      <div class="col-md-3">
        <div class="ibox">
          <div class="ibox-content product-box">
            <div class="product-imitation">
              empty
            </div>
            <div class="product-desc">
              <div class="small">
                as
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button (click)="onAddNewItem()"> Add new item </button>
  </div>
</app-page-wrapper>
